<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/login.css"/>
    <link rel="stylesheet" href="../static/css/output.css"/>
</head>
<body>
    <!-- Navbar -->
    {{ template "navbar.html" . }}
    <!-- End Navbar -->
    <form action="/login" method="post" class="format">
        <!-- Pseudo -->
        <div>
            <label for="pseudo" class="label">Username</label>
            <input type="text" class="text" name="pseudo" id="pseudo" placeholder="Username" required>
        </div>
        <!-- Password -->
        <div>
            <label for="password" class="label">Password</label>
            <input type="password" class="text" name="password" id="password" placeholder="Password" required>
        </div>
        <!-- Submit -->
        <input class="submit" type="submit">
        {{if .error}}
        <div class="error">
            {{.error}}
        </div>
        {{end}}
    </form>
    <!-- Footer -->
    {{ template "footer.html" . }}
    <!-- End Footer -->
</body>
</html>
