<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../static/css/output.css"/>
</head>
<body>
<!-- Header -->

<!-- End Header -->
<form action="/login" method="post" class="">
    <!-- Pseudo -->
    <div>
        <label for="pseudo">Pseudo</label>
        <input type="text" name="pseudo" id="pseudo" placeholder="Pseudo" required>
    </div>
    <!-- Password -->
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" required>
    </div>
    <!-- Submit -->
    <input type="submit">
    {{if .error}}
    <div class="error">
        {{.error}}
    </div>
    {{end}}


</form>
</body>
</html>