<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <a class="nav-btn" href="/">Dataset</a>
        </div>
        <div class="nav-center">
            <a class="nav-btn home-btn" href="/">Home</a>
        </div>
        <div class="nav-right">
            {{ if .user }}
            {{ if ne .user.Role 2 }}
            <a class="nav-btn" href="/tickets">Tickets</a>
            {{ end }}
            <a class="nav-btn" href="/newticket">New Ticket</a>
            <a class="nav-btn" href="/logout">Logout</a>
            {{ else }}
            <a class="nav-btn" href="/login">Login</a>
            <a class="nav-btn" href="/register">Register</a>
            {{ end }}
        </div>
    </nav>
</body>
</html>
