<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <button class="nav-btn">Dataset</button>
        </div>
        <div class="nav-center">
            <button class="nav-btn home-btn">Home</button>
        </div>
        <div class="nav-right">
            <button class="nav-btn">Login</button>
            <button class="nav-btn">Register</button>
        </div>
    </nav>
</body>
</html>
