<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Ticket</title>
    <link rel="stylesheet" href="../static/css/login.css"/>
    <link rel="stylesheet" href="../static/css/output.css"/>
</head>
<body>
    <!-- Navbar -->
    {{ template "navbar.html" . }}
    <!-- End Navbar -->
    <form action="/newticket" method="post" class="format">
        <!-- Subject -->
        <div>
            <label for="subject" class="label">Subject</label>
            <input type="text" class="text" name="subject" id="subject" placeholder="Subject" required>
        </div>
        <!-- content -->
        <div>
            <label for="content" class="label">Content</label>
            <input type="text" class="text" name="content" id="content" placeholder="Content" required>
        </div>
        <!-- LinkedData -->
        <div>
            <label for="linkedData" class="label">LinkedData</label>
            <input type="text" class="text" name="linked_data" id="linkedData" placeholder="LinkedData">
        </div>
        <!-- Submit -->
        <input type="submit">
        {{if .error}}
        <div class="error">
            {{.error}}
        </div>
        {{end}}
    </form>
    <!-- Footer -->
    {{ template "footer.html" . }}
    <!-- End Footer -->
</body>
</html>