<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/login.css"/>
    <link rel="stylesheet" href="../static/css/output.css"/>
</head>
<body>
    <!-- Navbar -->
    {{ template "navbar.html" . }}
    <!-- End Navbar -->
    <form action="/register" method="post" class="format">
        <!-- Pseudo -->
        <div>
            <label for="pseudo" class="label">Pseudo</label>
            <input type="text" class="text" name="pseudo" id="pseudo" placeholder="Pseudo" required>
        </div>
        <!-- Email -->
        <div>
            <label for="email" class="label">Email</label>
            <input type="email" class="text" name="email" id="email" placeholder="Email" required>
        </div>
        <!-- Phone -->
        <div>
            <label for="phone" class="label">Phone</label>
            <input type="tel" class="text" name="phone" id="phone" placeholder="Phone" required>
        </div>
        <!-- Password -->
        <div>
            <label for="password" class="label">Password</label>
            <input type="password" class="text" name="password" id="password" placeholder="Password" required>
        </div>
        <!-- Password confirmation -->
        <div>
            <label for="password_confirmation" class="label">Password confirmation</label>
            <input type="password" class="text" name="password_confirmation" id="password_confirmation" placeholder="Password confirmation" required>
        </div>
        <!-- Submit -->
        <input type="submit">
        {{if .error}}
        <div class="error">
            {{.error}}
        </div>
        {{end}}
    </form>
    <!-- Footer -->
    {{ template "footer.html" . }}
    <!-- End Footer -->
</body>
</html>