<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets</title>
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/login.css"/>
    <link rel="stylesheet" href="../static/css/output.css"/>
</head>
<body>
    <!-- Navbar -->
    {{ template "navbar.html" . }}
    <!-- End Navbar -->
    {{ if .error }}
    <div class="error">
        {{ .error }}
    </div>
    {{ end }}

    {{range .tickets}}
        <div>
            <a href="/ticket/{{.UUID}}">Ticket {{.UUID}}</a>
        </div>
        <li>{{.Subject}} , {{.Content}}</li>
    {{end}}
    <!-- Footer -->
    {{ template "footer.html" . }}
    <!-- End Footer -->
</body>
</html>