<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <link rel="stylesheet" href="../static/css/ticket.css">
</head>
<body>
    <div class="ticket-container">
        <h1 class="centered-title">{{.ticket.Subject}}</h1>
        <p class="content">{{.ticket.Content}}</p>
        <p class="linked-data">{{.ticket.LinkedData}}</p>
        <p class="date">{{.ticket.CreatedAt}}</p>
        <p class="status">{{.ticket.Status}}</p>

        <div class="chat-section">
            <div id="messages"></div>
            <form id="messageForm" action="/tchat/{{.ticket.UUID}}" method="POST">
                <textarea id="messageInput" name="msg" placeholder="Répond ici bg"></textarea>
                <input style="display: none" name="channel" value="{{.ticket.TchatUUID}}"/>
                <button type="submit">Envoyer</button>
            </form>
        </div>
    </div>
</body>
</html>